<h1>Stupid Coaching</h1>

<p>Ask your coach anything.</p>

<form action="/answer" method="get">
  <input type="text" name="question" placeholder="What do you want to know..." >
  <br>
  <input type="submit" value = "Ask">
</form>

